.a1{
    background-color: chocolate;
    color:crimson;
}
.a2 a {
    background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}
.a2 a:hover {
    background-color: #ccc;
  }
.a2 a.active {
    background-color: #04AA6D;
    color: white;
  }
  body {
      background: #eec;
  }